/* esto es un comentario */

/* encabezado */




/* body */


h1 {
    color: burlywood;
}
p {
    color: crimson;
}
body {
    background-color: steelblue;
}

a {
    color: blueviolet;
}


/* footer */