/* Estilos para la página web */
body {  
    background-color: #000000;  
    font-size: 16px;
    }
h1 {  
        font-size: 36px;  
        color: #ffffff;
        text-align: center;    
    }
h2 {
    color:  rgba(255, 255, 255, 0.685);
    animation: levitar 2s ease-in-out infinite;
}
@keyframes levitar {
     0%, 100% {transform: translate(0);}
     50% {transform: translateY(10px);}
}            